<% provide(:title, 'Contact') %>
<% provide(:h, "StaticPages#contact") %>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<p>Find me in app/views/static_pages/contact.html.erb</p>















































