@import "bootstrap";

html {
  overflow: auto;
  height: 100%;
  a:link{color:#428bca;}
  a:visited{color:#428bca}
}

section {
  overflow: auto;
}

$navlight: #ededed;
$navdark: #bababa;

//.navbar, .nav, li, a {
//	height: 60px;
//}



.footer {
  //border-top: 1px solid $grayLight; 
  //margin-top:    30px;
  //margin-left:   12.5%;
//  height: 20px; 
  text-align: center;

  background-color: #f8f8f8;

  border: 1px solid #e7e7e7;
  padding: 4px;
}

